{% extends 'layout.html' %}
{% block main %}
    <h2>Сайты</h2>
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %} 
            <tr>
                <td>{{ url['url_id'] }}</td>
                <td><a href="{{ url_for('urls_show', id=url['url_id']) }}">{{ url['url_name'] }}</a></td>
                <td>{{ url['check_date'] }}</td>
                <td>{{ url['status_code'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}