{% extends 'layout.html' %}
{% block main %}
    <h2>Сайты</h2>
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
            {% for row in urls %} 
            <tr>
                <td>{{ row['id'] }}</td>
                <td><a href="{{ url_for('urls_show', id=row['id']) }}">{{ row['name'] }}</a></td>
                <td>test</td>
                <td>test</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}